---
title: Releasefest – case study | Kollegorna
description: "Här firas svenska digitala projekt och produkter."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">Releasefest</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="https://www.releasefest.se">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">
      <p>Det produceras kontinuerligt digitala produkter och projekt av hög kvalité i Sverige. Vi tycker att dessa projekt samt dess skapare ska uppmärksammas och firas. Därför har vi tagit fram Releasefest – en mötesplats för oss som är intresserade av design, teknik och skapande.</p>

      <p>Här kan vem som helst registrera sig och skicka in sina egna eller andras releaser. Det går även att skapa en profilsida för sitt företag där alla ens releaser listas.</p>

      <p>Releasefest är ett projekt vi själva står bakom och gjort all utveckling – koncept, design och teknik.</p>

      <p><a href="https://www.releasefest.se/blogg/har-firar-vi-svenska-digitala-projekt-och-produkter">Läs mer i ett längre blogginlägg</a></p>
    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <ul>
          <li><a href="http://www.medien.se">Medien</a></li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>ElasticSearch</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Heroku</li>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__releasefest-logos">
    <%#= partial 'releasefest_logos' %>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/releasefest/releasefest-front.png" alt="Releasefests startsida">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <%= partial 'releasefest/releasefest_logo_1' %>
      </div>
    </div>


    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/releasefest/releasefest-release.png" alt="En release">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/releasefest/releasefest-profile.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <%= partial 'releasefest/releasefest_logo_2' %>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/releasefest/releasefest-company.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/releasefest/releasefest-phone.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <%= partial 'releasefest/releasefest_logo_3' %>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/releasefest/releasefest-tablet.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/releasefest/status/667647673818853376"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/andreaskrohn/status/668704808275193856"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/apikatalogen/status/677893607945277440"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/releasefest/releasefest-tshirt.jpg" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <%= partial 'releasefest/releasefest_logo_5' %>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/releasefest/releasefest-illustration1.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/stratkomm/status/667757163830382593"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/releasefest/releasefest-logo.png" alt="Releasefest logo">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <%= partial 'releasefest/releasefest_logo_4' %>
      </div>
    </div>


  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
