---
title: Kollegorna
body_classes: home
permalink: /english/index.html
lang: en
description: "We're a team of passionate developers and designers building first-rate web sites and web applications. We can help devise your strategy, analyze your needs, propose solutions and steer your project to success."
---

<section class="home__intro">
  <p>
    We're a team of passionate developers and designers building first-rate web sites and web applications.
  </p>

  <p>
    We can help devise your strategy, analyze your needs, propose solutions and steer your project to success.
  </p>

  <p>
    A burning interest in all things internet drives us forward in the pursuit of new knowledge and new challenges. Our long experience in developing and leading web projects has, among other things, resulted in:
  </p>
</section>

<section class="home__projects">
  <div class="box-gradient-border">
    <p>
      <strong>Turning ideas into improvements in healthcare.</strong>
      <a href="http://www.genombrott.nu">Genombrott</a> (<a href="https://vimeo.com/123012724">video</a>) is a comprehensive tool for healthcare professionals from the Swedish Association of Local Authorities and Regions, currently being tested in psychiatric care.
    </p>
  </div>

  <div class="box-gradient-border">
    <p><strong>How good are you at assessing risk?</strong> <a href="http://risker.dina.se">Play the game Dina Risker</a> that we built together with Edelman Deportivo for the insurance company Dina Försäkringar.</p>
  </div>

  <div class="box-gradient-border">
    <p><strong>Upping the game for over a million gamers.</strong> The Single Sign-On solution <a href="http://accounts.paradoxplaza.com">Paradox Accounts</a> is built to scale to handle the excitement around Paradox Interactive's games.</p>
  </div>

  <div class="box-gradient-border">
    <p><strong>Reports, analysis and insight for media professionals.</strong> <a href="https://premium.medievarlden.se">Medievärlden Premium</a> is a subscription service that gives you better intel on the changing media landscape.</p>
  </div>

  <div class="box-gradient-border">
    <p><strong>A web video platform for lawyers</strong> On <a href="https://www.bgplay.se">BG Play</a> some of Sweden's sharpest legal minds bring you news and training in various legal areas.</p>
  </div>

  <div class="box-gradient-border">
    <p><strong>Tapped into your beast mode on that last run?</strong> Give it the presentation it deserves. <a href="http://gpx.io">GPX.io</a> is a mapping service wher eyou can upload runs (or any activity) that you want to brag to your friends about.</p>
  </div>

  <div class="box-gradient-border">
    <p>
      <strong>The lack of clean water is a global crisis.</strong> By becoming a <a href="https://manadsgivare.wateraid.se">monthly donator</a> or <a href="https://gavoshop.wateraid.se">donating money in the gift shop</a> you help WaterAid save and change lives.
    </p>
  </div>
</section>

<section class="home__colleagues">
  <h2>
    <span class="gradient-border">
      Colleagues
    </span>
  </h2>

  <div>
    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/3e7d64702b9986338221db4a7a2d5374?s=400" alt="Per Sandström">
      </figure>

      <h1 class="profile__name" itemprop="name">Per Sandström</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer + Partner</h2>
      <div class="profile__does" itemprop="description">UI/UX design, front end</div>

      <div class="profile__contact">
        <a href="mailto:per@kollegorna.se" itemprop="email">per@kollegorna.se</a><br>
        <a href="callto:+46702420750" itemprop="telephone">+46 – 70 – 242 07 50</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/persand" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/persand" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/2241267321d133f80e0d7643d8685f9f?s=400" alt="Henrik Sjökvist">
      </figure>

      <h1 class="profile__name" itemprop="name">Henrik Sjökvist</h1>
      <h2 class="profile__title" itemprop="jobTitle">Developer + Partner</h2>
      <div class="profile__does" itemprop="description">Ruby, Rails, Go, JavaScript</div>

      <div class="profile__contact">
        <a href="mailto:henrik@kollegorna.se" itemprop="email">henrik@kollegorna.se</a><br>
        <a href="callto:+46735052929" itemprop="telephone">+46 – 73 – 505 29 29</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/henrrrik" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/henrrrik" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/d1460633a9bd7e3bc9a5c8ee941a4db4?s=400" alt="Samuel Carlsson">
      </figure>

      <h1 class="profile__name" itemprop="name">Samuel Carlsson</h1>
      <h2 class="profile__title" itemprop="jobTitle">Developer + Partner</h2>
      <div class="profile__does" itemprop="description">Ruby, Rails, Symfony, JavaScript</div>

      <div class="profile__contact">
        <a href="mailto:samuel@kollegorna.se" itemprop="email">samuel@kollegorna.se</a><br>
        <a href="callto:+46736951092" itemprop="telephone">+46 – 73 – 695 10 92</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/ksamc" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/ksamc" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/a4e02662a545e6e0bd9f9e462d4d011b?s=400" alt="Filippos Vasilakis">
      </figure>

      <h1 class="profile__name" itemprop="name">Filippos Vasilakis</h1>
      <h2 class="profile__title" itemprop="jobTitle">Developer</h2>
      <div class="profile__does" itemprop="description">Ruby, Rails, EmberJS</div>

      <div class="profile__contact">
        <a href="mailto:filippos@kollegorna.se" itemprop="email">filippos@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/vasilakisfil" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/vasilakisfil" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/6f424e629246cc7691deb017431c99c3?s=400" alt="Ivan Novosad">
      </figure>

      <h1 class="profile__name" itemprop="name">Ivan Novosad</h1>
      <h2 class="profile__title" itemprop="jobTitle">Developer</h2>
      <div class="profile__does" itemprop="description">Ruby, Rails, EmberJS</div>

      <div class="profile__contact">
        <a href="mailto:ivan@kollegorna.se" itemprop="email">ivan@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/ivannovosad" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/ivannovosad" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/903fbef9fdcf8113688126f5af8f484b?s=400" alt="Urban Sandén">
      </figure>

      <h1 class="profile__name" itemprop="name">Urban Sandén</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer</h2>
      <div class="profile__does" itemprop="description">UI/UX design, front end</div>

      <div class="profile__contact">
        <a href="mailto:urban@kollegorna.se" itemprop="email">urban@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/urre" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/urre" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/bb1800ed620e87d9ac9a661a82a21e4e?s=400" alt="Raymall Pérez">
      </figure>

      <h1 class="profile__name" itemprop="name">Raymall Pérez</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer</h2>
      <div class="profile__does" itemprop="description">UI/UX design, front end</div>

      <div class="profile__contact">
        <a href="mailto:raymall@kollegorna.se" itemprop="email">raymall@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/raymallperez" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/raymallperez" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/00f93eb6ac0a20b867ca285a5d0efe8e?s=400" alt="Dennis Carlsson">
      </figure>

      <h1 class="profile__name" itemprop="name">Dennis Carlsson</h1>
      <h2 class="profile__title" itemprop="jobTitle">Developer</h2>
      <div class="profile__does" itemprop="description">Front end, Ruby, Rails</div>

      <div class="profile__contact">
        <a href="mailto:dennis@kollegorna.se" itemprop="email">dennis@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/dencarlsson" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/dencarlsson" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/4084b78367b69a61bd27d6f3673ba38b?s=400" alt="Kong ">
      </figure>

      <h1 class="profile__name" itemprop="name">Kong</h1>
      <h2 class="profile__title" itemprop="jobTitle">Chief Snowboard Officer</h2>
      <div class="profile__does" itemprop="description">Snow business</div>

      <div class="profile__contact">
        <a href="mailto:kong@konginitiative.com" itemprop="email">kong@konginitiative.com</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/kollegorna/kong-tictail-theme" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/konginitiative" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>

        <a href="https://instagram.com/konginitiative" itemprop="sameAs">
          <%= image_tag 'icon-instagram.svg' %>
        </a>

        <a class="profile__tumblr" href="http://blog.konginitiative.com/" itemprop="sameAs">
          <%= image_tag 'icon-tumblr.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/fed82910659478cbdae570e88f5afd37?s=400" alt="Kobot ">
      </figure>

      <h1 class="profile__name" itemprop="name">Kobot</h1>
      <h2 class="profile__title" itemprop="jobTitle">Agency robot</h2>
      <div class="profile__does" itemprop="description">Monitoring, maintenance, GIFs.</div>

      <div class="profile__contact">
        <a href="mailto:kobot@kollegorna.se" itemprop="email">kobot@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/kollegorna/kobot" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>
      </div>
    </article>
  </div>
</section>

<section class="home__labs">
  <h2>
    <span class="gradient-border">
      The Lab
    </span>
  </h2>
  <p>This is where you find our open source projects and a blog where we write about design, Rails, Go, Ember, Node.js, and whatever else tickles our fancy on the interwebs.</p>

  <div class="home__labs__cta">
    <a class="button" href="https://labs.kollegorna.se">To the lab</a>
  </div>
</section>

<section class="home__more">
  <h2>
    <span class="gradient-border">
      More about us
    </span>
  </h2>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">Social responsibility.</h3>
      <p>We want to contribute to a better and more just world and in the last few years we've supported <a href="http://www.wateraid.se">WaterAid</a>, <a href="http://www.unizon.se/">Unizon</a> och <a href="http://www.actionaid.se">ActionAid</a> in various projects, such as <a href="https://gavoshop.wateraid.se">WaterAids gåvoshop</a> and <a href="http://www.causeofdeathwoman.com">Cause of Death: Woman</a>.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">We love to share.</h3>
      <p>Whenever it's possible to break out pieces of a project for general use we love it if it can join <a href="https://labs.kollegorna.se">our open source projects</a> (including <a href="https://github.com/kollegorna/kollegorna.se">this site</a>). We've also published <a href="https://rtfm.kollegorna.se">our manual</a> that describes how we work in practice.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">From the Caribbean to to the Far East.</h3>
      <p>We're a distributed team spread across the world from Santo Domingo to Seoul with the heart in Stockholm. We have team members in Sweden, South Korea, Greece, Slovakia, Portugal and the Dominican Republic.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">There's no business like snow business.</h3>
      <p>Our side project <a href="http://www.konginitiative.com">The Kong Initiative</a> sells the largest snowboards on the market across Europe.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">Some more recent projects:</h3>
      <p><a href="https://mik.statensmedierad.se">MIK-rummet</a> for the Swedish Media Council, the career platform <a href="https://www.legalcareer.se">Legal Career</a>, a single sign-on solution for <a href="http://www.redeye.se">Redeye</a> and sites for <a href="http://www.blendow.se">Blendow Group</a> and <a href="http://www.bgpublishing.se">BG Publishing</a>.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">Our technology stack.</h3>
      <p>We're experts in Ruby on Rails, but we also like to use Ember.js, Go, Node.js, Jekyll and Middleman depending on the project's needs.</p>
    </div>
  </div>
</section>

<section class="home__jobs">
  <h2>
    <span class="gradient-border">
      Join us
    </span>
  </h2>

  <p>We don't have any vacancies at the moment, but don't let that stop you if you believe that you should be on the team. Read more about <a href="/jobs">what it's like to work here</a>. We also take on interns. E-mail <a href="mailto:per@kollegorna.se">Per Sandström</a>.</p>
</section>

<section class="home__clients">
  <h2>
    <span class="gradient-border">
      Clients
    </span>
  </h2>

  <p>Over the years we've had the pleasure of working with many organizations, including:</p>

  <ul>
    <li>ActionAid</li>
    <li>Blendow Group</li>
    <li>Bonnier</li>
    <li>Dina Försäkringar</li>
    <li>Edelman Deportivo</li>
    <li>IDG</li>
    <li>KTH</li>
    <li>Medievärlden</li>
    <li>Nöjesguiden</li>
    <li>Paradox Interactive</li>
    <li>Redeye</li>
    <li>Rodeo</li>
    <li>Samtrafiken</li>
    <li><abbr title="Swedish Association of Local Authorities and Regions">SKL</abbr></li>
    <li>Sollentuna kommun</li>
    <li>Swedish Media Council</li>
    <li>Södersjukhuset</li>
    <li>Tidningsutgivarna</li>
    <li>Unizon</li>
    <li>UR</li>
    <li>Vattenfall</li>
    <li>WaterAid</li>
  </ul>
</section>
