---
title: Kollegorna
body_classes: home
---

<section class="home__intro">
  <p>
    Kollegorna är ett team passionerade utvecklare och designers som bygger förstklassiga webbplatser och webbapplikationer.
  </p>

  <p>
    Vi hjälper dig med din strategi, analyserar dina behov, tar fram lösningsförslag och leder projektet i mål.
  </p>

  <p>
    Ett brinnande intresse för teknik och kommunikation driver oss framåt i jakten på ny kunskap och nya utmaningar. Vår långa erfarenhet av att utveckla och leda webbprojekt har b.la. resulterat i följande:
  </p>
</section>

<section class="home__projects">
  <div class="box-gradient-border">
    <p>
      <strong>Stöd och inspiration för förbättringsarbete inom vården.</strong>
      <a href="http://www.genombrott.nu">Genombrott</a> (<a href="https://vimeo.com/119757512">video</a>) är ett verktyg från Sveriges Kommuner och Landsting som i nuläget testkörs hos olika arbetsplatser inom psykiatrin.
    </p>
  </div>

  <div class="box-gradient-border">
    <p><strong>Hur bra är du på att bedöma risker?</strong> <a href="http://risker.dina.se">Spela Dina Risker</a> ett riskbedömningsspel från Dina Försäkringar som vi byggt tillsammans med våra vänner på Edelman Deportivo.</p>
  </div>

  <div class="box-gradient-border">
    <p><strong>Ökad spelglädje för över en miljon gamers.</strong> Single Sign On-lösningen <a href="http://accounts.paradoxplaza.com">Paradox Accounts</a> står pall för Paradox Interactives spelsuccéer.</p>
  </div>

  <div class="box-gradient-border">
    <p><strong>Rapporter, analyser och insikter om medier nu och i framtiden.</strong> <a href="https://premium.medievarlden.se">Medievärlden Premium</a> är en prenumerationstjänst för dig som behöver bättre beslutsunderlag och vill höja din kompetens i avgörande framtidsfrågor.</p>
  </div>

  <div class="box-gradient-border">
    <p><strong>Plattform för webb-TV inom juridik.</strong> På <a href="https://www.bgplay.se">BG Play</a> ger Sveriges främsta experter dig aktuella nyheter och vidareutbildning för olika områden inom juridiken.</p>
  </div>

  <div class="box-gradient-border">
    <p><strong>Gjort en bra runda? Rama in den snyggt.</strong> <a href="http://gpx.io">GPX.io</a> är en karttjänst där det går att ladda upp löpturer (eller vad som helst) som en vill skryta om.</p>
  </div>

  <div class="box-gradient-border">
    <p>
      <strong>Bristen på rent vatten är en global kris.</strong> Genom att <a href="https://manadsgivare.wateraid.se">bli månadsgivare</a> eller <a href="https://gavoshop.wateraid.se">skänka pengar i gåvoshopen</a> hjälper du WaterAid rädda och förändra liv.
    </p>
  </div>
</section>

<section class="home__colleagues">
  <h2>
    <span class="gradient-border">
      Kollegor
    </span>
  </h2>

  <div>
    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/3e7d64702b9986338221db4a7a2d5374?s=400" alt="Per Sandström">
      </figure>

      <h1 class="profile__name" itemprop="name">Per Sandström</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer + Partner</h2>
      <div class="profile__does" itemprop="description">UI/UX design, front end</div>

      <div class="profile__contact">
        <a href="mailto:per@kollegorna.se" itemprop="email">per@kollegorna.se</a><br>
        <a href="callto:+46702420750" itemprop="telephone">070 – 242 07 50</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/persand" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/persand" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/2241267321d133f80e0d7643d8685f9f?s=400" alt="Henrik Sjökvist">
      </figure>

      <h1 class="profile__name" itemprop="name">Henrik Sjökvist</h1>
      <h2 class="profile__title" itemprop="jobTitle">Utvecklare + Partner</h2>
      <div class="profile__does" itemprop="description">Ruby, Rails, Go, JavaScript</div>

      <div class="profile__contact">
        <a href="mailto:henrik@kollegorna.se" itemprop="email">henrik@kollegorna.se</a><br>
        <a href="callto:+46735052929" itemprop="telephone">073 – 505 29 29</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/henrrrik" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/henrrrik" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/d1460633a9bd7e3bc9a5c8ee941a4db4?s=400" alt="Samuel Carlsson">
      </figure>

      <h1 class="profile__name" itemprop="name">Samuel Carlsson</h1>
      <h2 class="profile__title" itemprop="jobTitle">Utvecklare + Partner</h2>
      <div class="profile__does" itemprop="description">Ruby, Rails, Symfony, JavaScript</div>

      <div class="profile__contact">
        <a href="mailto:samuel@kollegorna.se" itemprop="email">samuel@kollegorna.se</a><br>
        <a href="callto:+46736951092" itemprop="telephone">073 – 695 10 92</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/ksamc" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/ksamc" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/a4e02662a545e6e0bd9f9e462d4d011b?s=400" alt="Filippos Vasilakis">
      </figure>

      <h1 class="profile__name" itemprop="name">Filippos Vasilakis</h1>
      <h2 class="profile__title" itemprop="jobTitle">Utvecklare</h2>
      <div class="profile__does" itemprop="description">Ruby, Rails, EmberJS</div>

      <div class="profile__contact">
        <a href="mailto:filippos@kollegorna.se" itemprop="email">filippos@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/vasilakisfil" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/vasilakisfil" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/6f424e629246cc7691deb017431c99c3?s=400" alt="Ivan Novosad">
      </figure>

      <h1 class="profile__name" itemprop="name">Ivan Novosad</h1>
      <h2 class="profile__title" itemprop="jobTitle">Utvecklare</h2>
      <div class="profile__does" itemprop="description">Ruby, Rails, EmberJS</div>

      <div class="profile__contact">
        <a href="mailto:ivan@kollegorna.se" itemprop="email">ivan@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/ivannovosad" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/ivannovosad" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/903fbef9fdcf8113688126f5af8f484b?s=400" alt="Urban Sandén">
      </figure>

      <h1 class="profile__name" itemprop="name">Urban Sandén</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer</h2>
      <div class="profile__does" itemprop="description">UI/UX design, front end</div>

      <div class="profile__contact">
        <a href="mailto:urban@kollegorna.se" itemprop="email">urban@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/urre" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/urre" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/bb1800ed620e87d9ac9a661a82a21e4e?s=400" alt="Raymall Pérez">
      </figure>

      <h1 class="profile__name" itemprop="name">Raymall Pérez</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer</h2>
      <div class="profile__does" itemprop="description">UI/UX design, front end</div>

      <div class="profile__contact">
        <a href="mailto:raymall@kollegorna.se" itemprop="email">raymall@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/raymallperez" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/raymallperez" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/00f93eb6ac0a20b867ca285a5d0efe8e?s=400" alt="Dennis Carlsson">
      </figure>

      <h1 class="profile__name" itemprop="name">Dennis Carlsson</h1>
      <h2 class="profile__title" itemprop="jobTitle">Utvecklare</h2>
      <div class="profile__does" itemprop="description">Front end, Ruby, Rails</div>

      <div class="profile__contact">
        <a href="mailto:dennis@kollegorna.se" itemprop="email">dennis@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/dencarlsson" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/dencarlsson" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/4084b78367b69a61bd27d6f3673ba38b?s=400" alt="Kong ">
      </figure>

      <h1 class="profile__name" itemprop="name">Kong</h1>
      <h2 class="profile__title" itemprop="jobTitle">Chief Snowboard Officer</h2>
      <div class="profile__does" itemprop="description">Snow business</div>

      <div class="profile__contact">
        <a href="mailto:kong@konginitiative.com" itemprop="email">kong@konginitiative.com</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/kollegorna/kong-tictail-theme">
          <%= image_tag 'icon-github.svg' %>
        </a>

        <a href="https://twitter.com/konginitiative" itemprop="sameAs">
          <%= image_tag 'icon-twitter.svg' %>
        </a>

        <a href="https://instagram.com/konginitiative" itemprop="sameAs">
          <%= image_tag 'icon-instagram.svg' %>
        </a>

        <a class="profile__tumblr" href="http://blog.konginitiative.com/" itemprop="sameAs">
          <%= image_tag 'icon-tumblr.svg' %>
        </a>
      </div>
    </article>

    <article class="profile" itemscope itemtype="http://schema.org/Person">
      <figure class="profile__image polaroid polaroid--circle">
        <img itemprop="image" src="//www.gravatar.com/avatar/fed82910659478cbdae570e88f5afd37?s=400" alt="Kobot ">
      </figure>

      <h1 class="profile__name" itemprop="name">Kobot</h1>
      <h2 class="profile__title" itemprop="jobTitle">Byrårobot</h2>
      <div class="profile__does" itemprop="description">övervakning, service, gif-builder</div>

      <div class="profile__contact">
        <a href="mailto:kobot@kollegorna.se" itemprop="email">kobot@kollegorna.se</a>
      </div>

      <div class="profile__links">
        <a href="https://github.com/kollegorna/kobot" itemprop="sameAs">
          <%= image_tag 'icon-github.svg' %>
        </a>
      </div>
    </article>
  </div>
</section>

<section class="home__blog">
  <h2>
    <span class="gradient-border">
      Blogg
    </span>
  </h2>

  <ul>
  <% blog.articles[0...3].each do |article| %>
    <li vocab="http://schema.org/" typeof="BlogPosting">
      <a property="url" href="<%= article.url %>"><%= article.title %></a>
      <time class="t-meta t-meta--small" property="datePublished" datetime="<%= article.date.strftime('%Y-%m-%d') %>">
        <%= article.date.strftime('%Y-%m-%d') %>
      </time>
    </li>
  <% end %>
  </ul>

  <div class="home__blog__cta">
    <a class="button" href="/blogg">Alla inlägg</a>
  </div>
</section>

<section class="home__labs">
  <h2>
    <span class="gradient-border">
      Labbet
    </span>
  </h2>
  <p>Här hittar du våra open source-projekt samt en blogg där vi skriver om design, Rails, Go, Ember, Node.js, webben i allmänhet m.m.</p>

  <div class="home__labs__cta">
    <a class="button" href="https://labs.kollegorna.se">Till labbet</a>
  </div>
</section>

<section class="home__more">
  <h2>
    <span class="gradient-border">
      Mer om oss
    </span>
  </h2>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">Samhällsengagemang.</h3>
      <p>Vi vill bidra till en bättre och mer rättvis värld och har under åren stött <a href="http://www.wateraid.se">WaterAid</a>, <a href="http://www.unizon.se/">Unizon</a> och <a href="http://www.actionaid.se">ActionAid</a> på olika sätt i olika projekt så som <a href="https://gavoshop.wateraid.se">WaterAids gåvoshop</a> och <a href="http://www.causeofdeathwoman.com">Cause of Death: Woman</a>.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">Vi älskar att dela med oss.</h3>
      <p>Om det är möjligt att bryta loss och generalisera kod vi tar fram så ser vi gärna att vi får göra detta i form av <a href="https://labs.kollegorna.se">olika öppen källkods-projekt</a> (inklusive <a href="https://github.com/kollegorna/kollegorna.se">denna sajt</a>). Vi har även valt att publicera <a href="https://rtfm.kollegorna.se">vår manual</a> som beskriver hur vi jobbar rent praktiskt.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">Från Karibien till Östasien.</h3>
      <p>Vi är ett distribuerat team utspridda från Santo Domingo till Seoul med hjärtat i Stockholm. I nationsmixen finns Sverige, Sydkorea, Grekland, Slovakien och Dominkanska Republiken.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">There's no business like snow business.</h3>
      <p><a href="http://www.konginitiative.com">The Kong Initiative</a> är ett sidoprojekt vi driver där vi säljer stora snowboards till hela Europa.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">Några ytterligare projekt vi gjort:</h3>
      <p><a href="https://mik.statensmedierad.se">MIK-rummet</a> åt Statens Medieråd, karriärsplattformen <a href="https://www.legalcareer.se">Legal Career</a>, single sign on-lösning till <a href="http://www.redeye.se">Redeye</a> samt <a href="http://www.blendow.se">Blendow Groups</a> och <a href="http://www.bgpublishing.se">BG Publishings</a> sajter.</p>
    </div>
  </div>

  <div class="pull-out">
    <div class="pull-out__item">
      <h3 class="pull-out__title">Vår teknikstack.</h3>
      <p>Vi är experter på Ruby on Rails och blandar även in Ember, Go, Node.js, Jekyll samt Middleman beroende på vad som är bäst för varje projekt.</p>
    </div>
  </div>
</section>

<section class="home__jobs">
  <h2>
    <span class="gradient-border">
      Jobba här
    </span>
  </h2>

  <p>Just nu har vi inga lediga tjänster. Men låt inte det hindra dig om du tror att du är rätt person för oss. Läs gärna mer om <a href="/jobs">hur det är att jobba här</a>. Vi tar även emot praktikanter. Mejla <a href="mailto:per@kollegorna.se">Per Sandström</a>.</p>
</section>

<section class="home__clients">
  <h2>
    <span class="gradient-border">
      Kunder
    </span>
  </h2>

  <p>Under åren har vi haft förmånen att jobba med uppdrag för bland andra:</p>

  <ul>
    <li>ActionAid</li>
    <li>Blendow Group</li>
    <li>Bonnier</li>
    <li>Dina Försäkringar</li>
    <li>Edelman Deportivo</li>
    <li>IDG</li>
    <li>KTH</li>
    <li>Medievärlden</li>
    <li>Nöjesguiden</li>
    <li>Paradox Interactive</li>
    <li>Redeye</li>
    <li>Rodeo</li>
    <li>Samtrafiken</li>
    <li><abbr title="Sveriges Kommuner och Landsting">SKL</abbr></li>
    <li>Sollentuna kommun</li>
    <li>Statens Medieråd</li>
    <li>Södersjukhuset</li>
    <li>Tidningsutgivarna</li>
    <li>Unizon</li>
    <li>UR</li>
    <li>Vattenfall</li>
    <li>WaterAid</li>
  </ul>
</section>
